<header class="site-header w-full sticky top-0 bg-white/70 backdrop-blur-md border-b border-white/20 shadow-sm">
  <div class="max-w-[1400px] mx-auto flex items-center justify-between py-5 px-3 md:px-12 lg:px-20">
    <a routerLink="/" class="flex items-center gap-[6px]">
      <img ngSrc="assets/icons/vision-logo.svg" alt="Vision Corporation Logo" width="48" height="48" priority
        class="w-[40px] h-[40px] md:w-[48px] md:h-[48px]" />
      <span class="logo text-sm md:text-[16px] text-[#262626] md:leading-6">VISION <br>CORPORATION</span>
    </a>

    <button (click)="toggleMenu()"
      class="flex items-center justify-center w-[40px] h-[40px] bg-[#2559EB] hover:bg-[#1D4ED8] transition-colors duration-200 
          focus:outline-none focus:ring-[2px] focus:ring-[#2559EB] focus:ring-offset-2 rounded cursor-pointer md:hidden">
      <img ngSrc="assets/icons/hamburger.svg" alt="hamburger" width="24" height="24" loading="eager"
        class="object-cover" />
    </button>

    <nav class="hidden md:block">
      <ul class="flex items-center justify-center gap-2">
        <li class="p-2 text-[#5D5D5D] hover:text-[#2559EB]"><a routerLink="/" routerLinkActive="text-[#2559EB]"
            [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li class="p-2 text-[#5D5D5D] hover:text-[#2559EB]"><a routerLink="/services"
            routerLinkActive="text-[#2559EB]">Services</a></li>
        <li class="p-2 text-[#5D5D5D] hover:text-[#2559EB]"><a routerLink="/projects"
            routerLinkActive="text-[#2559EB]">Projects</a></li>
        <li class="p-2 text-[#5D5D5D] hover:text-[#2559EB]"><a routerLink="/about"
            routerLinkActive="text-[#2559EB]">About Us</a></li>
      </ul>
    </nav>
    <a routerLink="/contact" class="bg-[#2559EB] hover:bg-[#1D4ED8] transition-colors duration-200 
          focus:outline-none focus:ring-[2px] focus:ring-[#2559EB] focus:ring-offset-2 
          text-white py-3 px-6 rounded hidden md:block">
      Contact
    </a>

  </div>
  @if(isMenuOpen){
  <div
    [class]="'fixed bg-black/60 w-full h-screen px-4 block md:hidden z-40 overflow-hidden ' + (isClosing ? 'animate-fade-out' : 'animate-fade-in')"
    (click)="closeMenu()">
    <div
      [class]="'absolute right-3 top-[20px] border border-[#D1D1D1] bg-white w-full max-w-[269px] z-50 rounded ' + (isClosing ? 'animate-slide-out-right' : 'animate-slide-in-right')"
      (click)="$event.stopPropagation()">
      <ul>
        <li><a routerLink="/" routerLinkActive="bg-[#2559EB] hover:bg-[#1D4ED8] text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            class="text-[#5D5D5D] px-4 py-2 rounded-tl rounded-tr block leading-6 hover:bg-[#2559EB] hover:text-white transition-colors duration-200 ease-in border-b border-[#D1D1D1]"
            (click)="closeMenu()">Home</a>
        </li>
        <li><a routerLink="/services" routerLinkActive="bg-[#2559EB] hover:bg-[#1D4ED8] text-white"
            class="text-[#5D5D5D] px-4 py-2 block leading-6 hover:bg-[#2559EB] hover:text-white transition-colors duration-200 ease-in border-b border-[#D1D1D1]"
            (click)="closeMenu()">Services</a>
        </li>
        <li><a routerLink="/projects" routerLinkActive="bg-[#2559EB] hover:bg-[#1D4ED8] text-white"
            class="text-[#5D5D5D] px-4 py-2 block leading-6 hover:bg-[#2559EB] hover:text-white transition-colors duration-200 ease-in border-b border-[#D1D1D1]"
            (click)="closeMenu()">Projects</a>
        </li>
        <li><a routerLink="/about" routerLinkActive="bg-[#2559EB] hover:bg-[#1D4ED8] text-white"
            class="text-[#5D5D5D] px-4 py-2 block leading-6 hover:bg-[#2559EB] hover:text-white transition-colors duration-200 ease-in border-b border-[#D1D1D1]"
            (click)="closeMenu()">About Us</a>
        </li>
        <li><a routerLink="/contact" routerLinkActive="bg-[#2559EB] hover:bg-[#1D4ED8] text-white"
            class="text-[#5D5D5D] px-4 py-2 rounded-bl rounded-br block leading-6 hover:bg-[#2559EB] hover:text-white transition-colors duration-200 ease-in"
            (click)="closeMenu()">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  }
</header>