.site-header {
    position: sticky;
    z-index: 50;

    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(200px);

    box-shadow:
        0px 13px 29px rgba(204, 204, 204, 0.05),
        0px 53px 53px rgba(204, 204, 204, 0.04),
        0px 119px 71px rgba(204, 204, 204, 0.03),
        0px 211px 84px rgba(204, 204, 204, 0.01),
        0px 330px 92px rgba(204, 204, 204, 0.001);

    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}


@supports not ((-webkit-backdrop-filter: blur(0)) or (backdrop-filter: blur(0))) {
    .site-header {
        background-color: rgba(255, 255, 255, 0.85);
    }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slide-in-right {
  animation: slideInRight 300ms ease-out forwards;
}

.animate-slide-out-right {
  animation: slideOutRight 300ms ease-in forwards;
}