<header class="site-header w-full sticky top-0 bg-white/70 backdrop-blur-md border-b border-white/20 shadow-sm">
  <div class="max-w-[1400px] mx-auto flex items-center justify-between py-5 px-3 md:px-12 lg:px-20">
    <a routerLink="/" class="flex items-center gap-[6px]">
      <img ngSrc="assets/icons/vision-logo.svg" alt="Vision Corporation Logo" width="48" height="48" loading="eager"
        class="w-[40px] h-[40px] md:w-[48px] md:h-[48px]" />
        <span class="logo text-sm md:text-[16px] text-[#262626] md:leading-6">VISION <br>CORPORATION</span>
    </a>
    <nav class="hidden md:block">
      <ul class="flex items-center justify-center gap-2">
        <li class="p-2 text-[#5D5D5D] hover:text-[#2559EB]"><a routerLink="/" routerLinkActive="text-[#2559EB]"
            [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li class="p-2 text-[#5D5D5D] hover:text-[#2559EB]"><a routerLink="/services"
            routerLinkActive="text-[#2559EB]">Services</a></li>
        <li class="p-2 text-[#5D5D5D] hover:text-[#2559EB]"><a routerLink="/projects"
            routerLinkActive="text-[#2559EB]">Projects</a></li>
        <li class="p-2 text-[#5D5D5D] hover:text-[#2559EB]"><a routerLink="/about"
            routerLinkActive="text-[#2559EB]">About Us</a></li>
      </ul>
    </nav>
    <a routerLink="/contact" class="bg-[#2559EB] hover:bg-[#1D4ED8] transition-colors duration-200 
          focus:outline-none focus:ring-[2px] focus:ring-[#2559EB] focus:ring-offset-2 
          text-white py-3 px-6 rounded hidden md:block">
      Contact
    </a>

  </div>
</header>