/* Add this CSS to your stylesheet */

@keyframes verticalFlip {

	0%,
	20% {
		transform: scaleY(1) scale(0.95);
		opacity: 1;
	}

	24% {
		opacity: 0;
		transform: scaleY(1) scale(0.95);
	}

	25% {
		transform: scaleY(-1) scale(0.95);
		opacity: 0;
	}

	29%,
	45% {
		transform: scaleY(-1) scale(0.95);
		opacity: 1;
	}

	49% {
		opacity: 0;
		transform: scaleY(-1) scale(0.95);
	}

	50% {
		transform: scaleY(1) scale(0.95);
		opacity: 0;
	}

	54%,
	70% {
		transform: scaleY(1) scale(0.95);
		opacity: 1;
	}

	74% {
		opacity: 0;
		transform: scaleY(1) scale(0.95);
	}

	75% {
		transform: scaleY(-1) scale(0.95);
		opacity: 0;
	}

	79%,
	95% {
		transform: scaleY(-1) scale(0.95);
		opacity: 1;
	}

	96% {
		opacity: 1;
		transform: scaleY(-1) scale(0.95);
	}

	99% {
		opacity: 0;
		transform: scaleY(-1) scale(0.95);
	}

	100% {
		transform: scaleY(1) scale(0.95);
		opacity: 0;
	}
}

.animate-flip {
	animation: verticalFlip 12s ease-in-out infinite;
}