<header
    class="site-header w-full sticky top-0 flex items-center justify-between py-5 px-4 md:px-12 lg:px-20 bg-gradient-to-tr from-[#FFFFFF] to-[#E7E7E7]">
    <img ngSrc="assets/icons/vision-logo.svg" alt="Vision Corporation Logo" width="167" height="48" loading="eager" />
    <nav class="hidden md:block">
        <ul class="flex items-center justify-center">
            <li class="p-2 text-[#2559EB]"><a href="">Home</a></li>
            <li class="p-2 text-[#5D5D5D]"><a href="">Services</a></li>
            <li class="p-2 text-[#5D5D5D]"><a href="">Projects</a></li>
            <li class="p-2 text-[#5D5D5D]"><a href="">About Us</a></li>
        </ul>
    </nav>
    <a href="" class="bg-[#2559EB] text-white py-3 px-6 rounded font-semibold hidden md:block">Contact</a>
</header>