<section
    class="relative py-[70px] sm:py-[115px] bg-[url('/assets/images/testimonials-bg.webp')] bg-cover bg-center bg-no-repeat">
    <div class="absolute inset-0 bg-gradient-to-bl from-[#2559EB]/100 to-[#8A38F5]/90 pointer-events-none"></div>
    <div class="relative z-10 px-4 ">
        <div class="text-center mb-[78px]">
            <h2 class="text-3xl sm:text-[40px] leading-12 text-white mb-2">What Our Clients Say</h2>
            <p class="text-lg sm:text-xl text-white leading-6 sm:leading-8">Real results from real businesses who
                trusted us with their growth.
            </p>
        </div>

        <div
            class="max-w-[1400px] mx-auto px-5 md:px-12 lg:px-20 gap-[50px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            @for(testimonial of testimonials; track $index){
            <div class="p-5 border border-[#D1D1D1] rounded md:max-w-[426px] flex flex-col gap-y-6">
                <div class="flex  items-center gap-3">
                    <img [ngSrc]="testimonial.userImage" [alt]="testimonial. userName" width="30" height="30"
                        class="w-10 h-10 border border-[#D1D1D1] rounded-full object-cover" />
                    <h3 class="text-white leading-6">{{testimonial. userName}}</h3>
                </div>
                <p class="text-white leading-6">
                    "{{testimonial.message}}"
                </p>
                <div class="flex items-center gap-2 leading-6 text-white">
                    <img ngSrc="assets/icons/stars.svg" alt="stars" width="136" height="24" loading="eager" />
                    <p> 5.0</p>
                </div>
            </div>
            }
        </div>
    </div>
</section>