@import "tailwindcss";

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/assets/fonts/AirbnbCereal_W_Bd.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/assets/fonts/AirbnbCereal_W_Bk.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/assets/fonts/AirbnbCereal_W_Blk.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/assets/fonts/AirbnbCereal_W_Lt.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/assets/fonts/AirbnbCereal_W_Md.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/assets/fonts/AirbnbCereal_W_XBd.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Airbnb Cereal', sans-serif;
  font-weight: 600;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

img,
svg {
  -webkit-user-drag: none;
  user-drag: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p,
li {
  font-weight: 300
}

h1,
h2,
h3,
h4,
h5,
h6,
.custom-name {
  font-weight: 500;
}

.logo {
  font-weight: 700;
}

.customise-sub-title {
  font-weight: 600
}

.cookie-overlay {
  background: linear-gradient(135deg, rgba(217, 217, 217, 0.3) 0%, rgba(115, 115, 115, 0.3) 100%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
  z-index: 9999;
  transition: opacity 0.5s ease-out;
}

.loader {
  --c: no-repeat linear-gradient(black 0 0);
  background:
    var(--c), var(--c), var(--c),
    var(--c), var(--c), var(--c),
    var(--c), var(--c), var(--c);
  background-size: 16px 16px;
  animation:
    l32-1 1s infinite,
    l32-2 1s infinite;
}

@keyframes l32-1 {

  0%,
  100% {
    width: 45px;
    height: 45px
  }

  35%,
  65% {
    width: 65px;
    height: 65px
  }
}

@keyframes l32-2 {

  0%,
  40% {
    background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 50% 50%
  }

  60%,
  100% {
    background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 0 0, 50% 50%
  }
}