@media (max-width: 767px) {
    .hide-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

.scroll-smooth {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

img {
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
}