<section
    class="relative max-w-[1400px] mx-auto px-5 md:px-12 lg:px-20 lg:pt-[184px] gap-10 lg:gap-0 pb-32 lg:pb-0 flex items-center z-10 flex-col lg:flex-row overflow-hidden">
    <div
        class="absolute inset-0 bg-[url('/assets/images/reality-bg.webp')] bg-cover bg-top bg-no-repeat blur-xl scale-100 mt-24">
    </div>

    <img ngSrc="assets/images/glow.webp" alt="glow" width="650" height="611" class="absolute top-0 left-0 blur-2xl" />

    <div class="grow shrink basis-0 max-w-[528px] relative z-10">
        <div class="relative w-full overflow-hidden">
            <img ngSrc="assets/images/girl-with-vr.webp" alt="girl-with-vr" width="528" height="596" priority
                class="mt-20 w-full h-auto object-cover" />

            <div
                class="absolute bottom-0 left-0 w-full h-1 bg-gradient-to-t from-white/100 to-transparent backdrop-blur-lg lg:hidden">
            </div>
        </div>
    </div>

    <div class="grow shrink basis-0 z-10 max-w-[680px] text-center lg:text-left">
        <h3 class="text-[25px] sm:text-[40px] leading-8 sm:leading-12 text-[#262626] mb-2">
            Are you ready to turn your ideas into reality with
            <span class="text-[#2559EB]">Vision Corporation?</span>
        </h3>
        <p class="text-[#5D5D5D] leading-6 sm:leading-8 text-lg sm:text-xl max-w-[574px]">
            We’re excited to collaborate with you and bring your vision to life. Let’s get started on your next big idea
        </p>
        <a href="" class="w-full px-6 py-3 bg-[#2559EB] text-white inline-block rounded leading-6 mt-6 lg:w-auto">
            Get in touch
        </a>
    </div>
</section>