<section class="max-w-[1400px] mx-auto px-5 md:px-12 lg:px-20 pt-[87px] pb-8">
    <div class="w-full flex justify-between flex-wrap gap-8">
        <div class="flex items-start flex-col sm:flex-row gap-x-4">
            <h4 class="text-[#2559EB] mb-3 sm:mb-0 leading-6 flex items-center gap-x-[11px]" data-aos="zoom-in-up"><img
                    src='assets/icons/quick-links.svg' alt="Quick Links" width="24" height="24" />Quick Links</h4>
            <ul class="flex flex-col gap-2">
                @for(link of footerLinks; track link.label) {
                <li class="group" data-aos="zoom-in-up" [attr.data-aos-delay]="(footerLinks.indexOf(link) + 1) * 100">
                    <a [href]="link.url"
                        class="footer-link text-[#5D5D5D] leading-6 flex items-center justify-between w-24">
                        {{link.label}}
                        <img src="assets/icons/footer-chevron-right.svg" alt="chevron right" width="7" height="7"
                            loading="eager"
                            class="transition-transform duration-300 ease-in-out group-hover:translate-x-2" />
                    </a>
                </li>
                }
            </ul>
        </div>
        <div class="flex items-start flex-col sm:flex-row gap-x-4">
            <h4 class="text-[#2559EB] mb-3 sm:mb-0 leading-6 flex items-center gap-x-[11px]" data-aos="zoom-in-up"><img
                    src='assets/icons/cog.svg' alt="Cog" width="24" height="24" />Services</h4>
            <ul class="flex flex-col gap-2">
                @for(service of footerServices; track service.label) {
                <li class="text-[#5D5D5D] leading-6 footer-link" data-aos="zoom-in-up"
                    [attr.data-aos-delay]="(footerServices.indexOf(service) + 1) * 100">{{service.label}}</li>
                }
            </ul>
        </div>
        <div class="flex items-start flex-col sm:flex-row gap-x-4">
            <h4 class="text-[#2559EB] mb-3 sm:mb-0 leading-6 flex items-center gap-x-[11px]" data-aos="zoom-in-up"><img
                    src='assets/icons/info.svg' alt="Info" width="24" height="24" />Contact Info</h4>
            <ul class="flex flex-col gap-2">
                <li class="footer-link text-[#5D5D5D] leading-6 flex items-center gap-x-2" data-aos="zoom-in-up"
                    data-aos-delay="0"><img src="assets/icons/footer-phone.svg" alt="Phone" width="16" height="16" /><a
                        href="tel:+233242458248" class="footer-link">+233 24 245 8248</a></li>
                <li class="footer-link text-[#5D5D5D] leading-6 flex items-center gap-x-2" data-aos="zoom-in-up"
                    data-aos-delay="100"><img src="assets/icons/footer-mail.svg" alt="Email" width="16" height="16" /><a
                        href="mailto:info@visioncorporation.org" class="footer-link">info@visioncorporation.org</a>
                </li>
                <li class="footer-link text-[#5D5D5D] leading-6 flex items-center gap-x-2" data-aos="zoom-in-up"
                    data-aos-delay="200"><img src="assets/icons/address.svg" alt="Address" width="16"
                        height="16" />Accra, Ghana, West Africa.
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-[64px]">
        <div class="flex items-center flex-wrap gap-x-1 gap-y-2 justify-between mb-4 pb-4 border-b border-b-[#D1D1D1]">
            <img src="assets/icons/vision-logo.svg" alt="Vision Corporation Logo" width="167" height="48"
                loading="eager" class="w-[150px] md:w-[167px] h-[40px] md:h-[48px]" />

            <ul class="flex items-center gap-x-2">
                @for(link of socialMediaLinks; track link.label) {
                <li class="hover:scale-125 transform transition-transform duration-300 ease-in-out"><a
                        href="{{link.url}}" target="_blank"><img src="{{link.icon}}" alt="{{link.label}} Logo"
                            width="24" height="24" loading="eager" /></a></li>
                }
            </ul>
        </div>
        <div class="flex items-center flex-col md:flex-row justify-between gap-4 ">
            <div class="flex items-center gap-x-2">
                <a href="" class="text-[#5D5D5D] text-sm leading-5 footer-link">Privacy Policy</a>
                <a href="" class="text-[#5D5D5D] text-sm leading-5 footer-link">Terms of Service</a>
                <a href="" class="text-[#5D5D5D] text-sm leading-5 footer-link">Cookie Policy</a>
            </div>
            <span class="footer-link text-sm text-[#5D5D5D] leading-5">©{{ currentYear }} Vision Corporation | All
                rights
                reserved</span>
        </div>
    </div>
</section>